In [1]:
import pandas as pd
import os
import glob
import numpy as np
from os import listdir

### Merge all info .csv files using .concat

In [2]:
csv_files = glob.glob('path_to_csv_files//*.{}'.format('csv'))

df_info = pd.DataFrame()
for file in csv_files:
    data = pd.read_csv(file, dtype=str)
    print(file) #nice to follow
    data.index = data[['CHROM', 'POS', 'REF', 'ALT']].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
    data=data.drop(['CHROM', 'POS', 'REF', 'ALT'],axis=1)
    data=data.drop(['INFO'], axis=1) 
    df_info = pd.concat([df_info, data], axis = 1)

C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.10.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.11.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.12.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.13.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.14.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.15.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.16.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.17.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.18.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.19.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.20.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.21.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.22.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.23.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.24.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.25.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.26.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.27.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.28.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.29.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.30.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.31.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.32.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.33.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.34.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.35.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.36.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.37.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.38.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.39.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.40.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.41.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.42.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.43.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.44.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.45.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.46.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.47.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.48.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.49.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.50.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.51.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.52.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.53.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.54.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.55.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.56.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.57.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.58.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.59.csv
C:/Users/Nicolai/Downloads\UKB_VCFmerge_info.60.csv

In [4]:
df_info.head()

,1000022_23141_0_0,1000035_23141_0_0,1000046_23141_0_0,1000054_23141_0_0,1000063_23141_0_0,1000078_23141_0_0,1000081_23141_0_0,1000090_23141_0_0,1000105_23141_0_0,1000112_23141_0_0,...,6024762_23141_0_0,6024779_23141_0_0,6024785_23141_0_0,6024805_23141_0_0,6024812_23141_0_0,6024829_23141_0_0,6024837_23141_0_0,6024841_23141_0_0,6024853_23141_0_0,6024864_23141_0_0
chr17_81808919_A_<*>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr17_81808920_C_<*>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr17_81808921_T_<*>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr17_81808922_C_<*>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr17_81808923_A_<*>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


### Replace cells starting with ./.  with NaN

In [6]:
df_info_filtered = df_info.copy()
str_cols = df_info_filtered.columns 

for column in str_cols:
     df_info_filtered.loc[df_info_filtered[column].str.startswith('.', na=False), column] = np.nan

### Filter rows with only Nan

In [9]:
# filter rows
df_info_filtered2=df_info_filtered.dropna(subset=str_cols, how="all")

In [10]:
print(df_info_filtered.shape,
      df_info_filtered2.shape) #filtered row with all NaN

(3910, 469867) (1862, 469867)


#### Prepare table for open.cravat

In [11]:
# make index into a column
df = df_info_filtered2.copy()
df.reset_index(inplace=True)

#split the column "index" into four seperate coulumns
df[['CHROM', 'POS', 'REF', 'ALT']] = df["index"].apply(lambda x: pd.Series(str(x).split("_")))
df=df.drop(["index"], axis=1)
df['INFO'] = 'GT:GQ:DP:AD:VAF:PL' #adds the INFO column that we deleted at import to avoid replicates from each csv file
df.head()

,1000022_23141_0_0,1000035_23141_0_0,1000046_23141_0_0,1000054_23141_0_0,1000063_23141_0_0,1000078_23141_0_0,1000081_23141_0_0,1000090_23141_0_0,1000105_23141_0_0,1000112_23141_0_0,...,6024829_23141_0_0,6024837_23141_0_0,6024841_23141_0_0,6024853_23141_0_0,6024864_23141_0_0,CHROM,POS,REF,ALT,INFO
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,chr17,81808940,CG,"C,<*>",GT:GQ:DP:AD:VAF:PL
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,chr17,81808940,C,"T,<*>",GT:GQ:DP:AD:VAF:PL
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,chr17,81808941,G,"A,<*>",GT:GQ:DP:AD:VAF:PL
3,NaN,NaN,NaN,NaN,"0/1:45:19:8,11,0:0.578947,0:45,0,56,990,990,990",NaN,NaN,"0/1:46:21:8,13,0:0.619048,0:47,0,52,990,990,990",NaN,"0/1:43:42:21,21,0:0.5,0:43,0,56,990,990,990",...,NaN,NaN,"1/1:39:38:0,38,0:1,0:47,39,0,990,990,990",NaN,"0/1:45:17:7,10,0:0.588235,0:46,0,49,990,990,990",chr17,81808949,C,"A,<*>",GT:GQ:DP:AD:VAF:PL
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,chr17,81808963,T,"C,<*>",GT:GQ:DP:AD:VAF:PL

In [12]:
#reorder to get Chrom etc. first in the DF
cols = df.columns.tolist()
cols = cols[-5:] + cols[:-5]
df = df[cols]
df.head()

,CHROM,POS,REF,ALT,INFO,1000022_23141_0_0,1000035_23141_0_0,1000046_23141_0_0,1000054_23141_0_0,1000063_23141_0_0,...,6024762_23141_0_0,6024779_23141_0_0,6024785_23141_0_0,6024805_23141_0_0,6024812_23141_0_0,6024829_23141_0_0,6024837_23141_0_0,6024841_23141_0_0,6024853_23141_0_0,6024864_23141_0_0
0,chr17,81808940,CG,"C,<*>",GT:GQ:DP:AD:VAF:PL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chr17,81808940,C,"T,<*>",GT:GQ:DP:AD:VAF:PL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chr17,81808941,G,"A,<*>",GT:GQ:DP:AD:VAF:PL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,chr17,81808949,C,"A,<*>",GT:GQ:DP:AD:VAF:PL,NaN,NaN,NaN,NaN,"0/1:45:19:8,11,0:0.578947,0:45,0,56,990,990,990",...,"0/1:44:42:22,20,0:0.47619,0:44,0,54,990,990,990",NaN,NaN,NaN,"0/1:43:15:4,11,0:0.733333,0:47,0,44,990,990,990",NaN,NaN,"1/1:39:38:0,38,0:1,0:47,39,0,990,990,990",NaN,"0/1:45:17:7,10,0:0.588235,0:46,0,49,990,990,990"
4,chr17,81808963,T,"C,<*>",GT:GQ:DP:AD:VAF:PL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# ===============================================
# remove , <*> from ALT
# ===============================================

df["ALT"] = df["ALT"].str.replace("[,<*>]", "", regex=True)

df.head()

,CHROM,POS,REF,ALT,INFO,1000022_23141_0_0,1000035_23141_0_0,1000046_23141_0_0,1000054_23141_0_0,1000063_23141_0_0,...,6024762_23141_0_0,6024779_23141_0_0,6024785_23141_0_0,6024805_23141_0_0,6024812_23141_0_0,6024829_23141_0_0,6024837_23141_0_0,6024841_23141_0_0,6024853_23141_0_0,6024864_23141_0_0
0,chr17,81808940,CG,C,GT:GQ:DP:AD:VAF:PL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chr17,81808940,C,T,GT:GQ:DP:AD:VAF:PL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chr17,81808941,G,A,GT:GQ:DP:AD:VAF:PL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,chr17,81808949,C,A,GT:GQ:DP:AD:VAF:PL,NaN,NaN,NaN,NaN,"0/1:45:19:8,11,0:0.578947,0:45,0,56,990,990,990",...,"0/1:44:42:22,20,0:0.47619,0:44,0,54,990,990,990",NaN,NaN,NaN,"0/1:43:15:4,11,0:0.733333,0:47,0,44,990,990,990",NaN,NaN,"1/1:39:38:0,38,0:1,0:47,39,0,990,990,990",NaN,"0/1:45:17:7,10,0:0.588235,0:46,0,49,990,990,990"
4,chr17,81808963,T,C,GT:GQ:DP:AD:VAF:PL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### df6 is downloaded, and rest of the analysis is performed in R